html, body {
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background: #eee;

    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    vertical-align: middle;
    
    box-shadow: 5px 5px 20px skyblue;
    height: 30px;
    padding: 1rem;
    color: skyblue;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
  
  }
  
  
  header img{
    margin-left: 20px;
    width: 100px;
    height: 30px;
  }
  
  header span{
      margin-right: 6px;
      font-size: 13ox;
  }
  header nav{
      margin-right: 15px;
  }
  
  nav{
    vertical-align: middle;
  
  }
  
  .userProfile{
    width: 30px;
    height: 30px;
  }
  

img{
    position: relative;
    vertical-align: middle;
    text-align: center;
}

div{
    box-shadow: 5px 5px 10px white;

}
.content{
    background-color: white;
    box-shadow: 5px 5px 10px white;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
}
.content p{
    padding-top: 100px;
    display: block;
    font-size: 24px;
    font-weight: 500;
}
.content img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 70%;
    margin-bottom: 30px;

}