html, body {
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background: #eee;

  
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    vertical-align: middle;
    
    box-shadow: 5px 5px 20px skyblue;
    height: 30px;
    padding: 1rem;
    color: skyblue;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
  
  }
  
  
  header img{
    margin-left: 20px;
    width: 100px;
    height: 30px;
  }
  
  header span{
      margin-right: 6px;
      font-size: 13ox;
  }
  header nav{
      margin-right: 15px;
  }
  
  nav{
    vertical-align: middle;
  
  }
  
  .userProfile{
    width: 30px;
    height: 30px;
  }
  

img{
    position: relative;
    vertical-align: middle;
    text-align: center;
}

div{
    box-shadow: 5px 5px 10px white;

}




  
  .myProfile{
    background-color: white;
    box-shadow: 5px 5px 10px white;
    margin-bottom: 30px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;  
    padding-bottom: 50px;
    text-align: center;
    vertical-align: middle;
  }

  .myProfile img{
      display: inline-block;
      width: 20%;
      
  }


div{
    box-shadow: 5px 5px 10px white;

}


.profileText{

    vertical-align: middle;
    display: inline-block;
    text-align: left;
    padding-left: 30%;
}


p{
    margin-bottom: 2%;
}


.reservation{
    text-align: left;
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    
  }
  
  .component{
    display: inline-block;
    width:240px;
    height: 200px;
    margin-right: 30px;
    margin-bottom: 50px;
    
  }

  .component img{
    width: 240px;
    height: 180px;

  }

  .component h6{
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
  }

  .information{
    text-align: left;
  }

  .information img{
    height: 10px;
    width: 10px;
  }

  div{
      background-color: white;
      margin-left: auto;
      margin-right: auto;
  }

  h3{
      margin-top:70px;
      margin-bottom: 40px;
  }